<!doctype html>
<head>
<title>Firewall API Documentation</title>
</head>
<body>
<h1>Firewall API Documentation</h1>
<h2>Introduction</h2>
<p>The firewall API is a REST interface into the rulesets that decide whether network traffic is permitted or denied through the firewalls. Using this interface you can get answers to whether a certain type of traffic is allowed or not.</p>
<h2>Available products</h2>
<ul>
  <li>Destinations</li>
  <li>Firewalls</li>
</ul>
<h2>Interface documentation</h2>
<h3>Destinations Endpoint</h3>
<p>The Destinations endpoint is used to answer queries like "What firewalls and accesslists does the traffic pass from on the way to the destination?". Giving a destination IP and a source IP for the traffic, the API returns an ordered list of firewalls and accesslists that the traffic will be checked by.</p>
<h4>Usage</h4>
<h5>Parameters</h5>
<ul>
<li>destination, an IPv4 address in dotted quad notation (mandatory)</li>
<li>source, an IPv4 address in dotted quad notation (mandatory)</li>
</ul>
<h5>Sample requests</h5>
<p><a href="http://api.firewall.met.no/api/v1/destinations/157.249.37.22?srcip=157.249.66.100">http://api.firewall.met.no/api/v1/destinations/157.249.37.22?srcip=157.249.66.100</a></p>
<p><a href="http://api.firewall.met.no/api/v1/destinations/8.8.4.4?srcip=157.249.66.100">http://api.firewall.met.no/api/v1/destinations/8.8.4.4?srcip=157.249.66.100</a></p>
<h5>Results</h5>
<p>The results is a list in JSON format with subelements consisting of the hostname of a firewall and the accesslist on that firewall that the traffic will be checked by. Please note that the list is ordered, so the traffic will first be checked by the first firewall, then the second, and so on.</p>
<p>Sample results:</p>
<pre>
{
  "path": [
    [
      "fw1", 
      "inside-in"
    ], 
    [
      "fw2", 
      "inside-in"
    ], 
    [
      "fw3", 
      "outside-in"
    ]
  ]
}
</pre>
<h3>Firewalls Endpoint</h3>
<p>The Firewalls endpoint is used to check if the specified traffic will be permitted or denied by a certain accesslist on a certain firewall. The traffic to check must be specified using a source IP, destination IP, protocol and destination port number.
<h4>Usage</h4>
<h5>Parameters</h5>
<ul>
<li>firewall, a hostname as a string (mandatory)</li>
<li>accesslist, a string, typically "outside-in" or "inside-in" (mandatory)</li>
<li>destination, an IPv4 address in dotted quad notation (mandatory)</li>
<li>source, an IPv4 address in dotted quad notation (mandatory)</li>
<li>protocol, a string, either "tcp" or "udp" (mandatory)</li>
<li>destination port, an integer (mandatory)</li>
</ul>
<h5>Sample requests</h5>
<p><a href="http://api.firewall.met.no/api/v1/firewalls/fw-eklima/rules/outside-in?srcip=100.200.30.40&dstip=157.249.37.22&dstport=80&proto=tcp">http://api.firewall.met.no/api/v1/firewalls/fw-eklima/rules/outside-in?srcip=100.200.30.40&dstip=157.249.37.22&dstport=80&proto=tcp</a></p>
<p><a href="http://api.firewall.met.no/api/v1/firewalls/fw-eklima/rules/outside-in?srcip=1.2.3.4&dstip=157.249.37.10&dstport=80&proto=tcp">http://api.firewall.met.no/api/v1/firewalls/fw-eklima/rules/outside-in?srcip=1.2.3.4&dstip=157.249.37.10&dstport=80&proto=tcp</a></p>
<h5>Results</h5>
<p>The results is a dictionary in JSON format with a boolean key called "permitted" that says whether the traffic was allowed or not. The dictionary will always contain the fields "firewall" and "accesslists" derived from the request. If the traffic is allowed, the dictionary will also contain the firewall rule that allowed the traffic and the comment associated with that rule in the firewall ruleset.</p>
<p>Sample results of traffic that is permitted:</p>
<pre>
{
  "result": {
    "accesslist": "outside-in", 
    "firewall": "fw-eklima", 
    "firewallrule": "permit tcp 0.0.0.0/0 -> 157.249.37.22:[80]", 
    "permitted": true, 
    "rulecomment": "access-list outside-in remark ## Tilgang fra Internett til eKlima ##"
  }
}
</pre>
<p>Sample results of traffic that is denied:</p>
<pre>
{
  "result": {
    "accesslist": "outside-in", 
    "firewall": "fw-eklima", 
    "permitted": false
  }
}
</pre>
