<!doctype html>
<title>Firewall API</title>

<link rel="stylesheet" type="text/css" href="static/firewall-api.css">

  <h1>Firewall API</h1>

<H2>Check if traffic from one ip to another on a specific port is allowed</h2>

<form action="result" method="get">

<table>
<tr><td>From ip-address:</td><td>To ip-address:</td><td>Port</td></tr>

<tr>
<td><INPUT NAME="srcip" TYPE="text" SIZE="15" maxlength="15"></td>
<td><INPUT NAME="dstip" TYPE="text" SIZE="15" maxlength="15"></td>
<td><INPUT NAME="dstport" TYPE="text" SIZE="5" maxlength="5"></td>
<td><INPUT TYPE="submit" value="Send"></td></tr>
</table>

<P>

</form>

<HR>

A <A HREF="https://dokit.met.no/itinternt/hackathon">Hackathon 2015</A> project: <A HREF="https://dokit.met.no/personal/it/arnes/firewall-api/hackaton2015">MET Firewall API</A>




